@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

:root {
	--amadeus-site-body-background: #bee6f9;
		--amadeus-site-h2-bgd: #bee6f9;
	--amadeus-current-menu-background: #BEE6F9;
	--amadeus-header-menu-background: #D2FAFF;
	--themecolor:  #C6C09C;
	--themecolorrgb: 34, 185, 254;
	--header-height: 70px;
	--ym-hf-bgd: #617DA3;
	--site-logo-bgd: #FEB51A;
}

#copyrights, body, .composite-work > section {
    background-color: var(--amadeus-site-body-background, #eee)!important;
}

#content section, #content .content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

#header { padding: 0!important; }
#header .d-flex { gap: 0; }
#header h1 { padding: 0px; height: 80px; background: url(globalconcernsindia-header-logo.png?fver=2) no-repeat left center; background-size: contain; }

.node-donate .engage ol li { margin-bottom: 6px!important; }

#content h2:not(.amadeus-icon) { padding: 8px; border-radius: 12px; display: inline-block; font-size: 25px; margin-bottom: 12px; }
.composite-work h2 { display: block!important; }
#content h2.block { display: block; margin: 15px 0 10px 0; }
#content h2, .site-bgd { background-color: var(--amadeus-site-h2-bgd, #ccc); }

.node-index .in-page, .node-index #directory-sections,
    .node-programs .in-page,
    .node-community .in-page,
    .node-resources .in-page,
    .node-about-us .in-page {
        display: none!important;
}

#content h3 { line-height: 1.5em; font-size: 21px; margin-bottom: 8px; }

#content h1, #content h2, #content h3 { font-family: "Playfair Display", sans-serif; font-weight: 900; letter-spacing: 2px; }
#content, #content h1, #content h2, #content h3 { font-family: "Playfair Display", sans-serif; }
#content { color: #1E3973; font-size: 18px; line-height: 1.4em; }

.cursive, #content h3.cursive { font-family: "Yuji Mai", serif; }
#content h3.cursive { font-size: 45px; }

.bordered-image { border-radius: 50%; }
