:root {
	--themecolor:  #C6C09C;
	--themecolorrgb: 34, 185, 254;
	--header-height: 70px;
	--ym-hf-bgd: #617DA3;
	--site-logo-bgd: #FEB51A;
	--site-h2-bgd: #FEB51A;
}

#copyrights, body {
    background-color: #bee6f9!important;
}

#content section, #content .content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

@font-face {
    font-family:"wix-headings";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/5cee8d6e-89ad-4d8c-a0ac-584d316b15ae.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/388ef902-2c31-4818-abb1-a40dcd81f6d6.woff") format("woff");
font-display: swap;
}

.logo img { background-color: var(--site-logo-bgd, #999); }
#content h2 { padding: 8px; border-radius: 0; display: inline-block; font-family: wix-headings, sans-serif; font-size: 36px; margin-bottom: 12px; }
#content h2.block { display: block; margin: 15px 0 10px 0; }
#content h2, .site-bgd { background-color: var(--site-h2-bgd, #ccc); }


.node-index .in-page, .node-index #directory-sections,
    .node-programs .in-page,
    .node-community .in-page,
    .node-resources .in-page,
    .node-about-us .in-page {
        display: none!important;
}

@font-face {
    font-family: "avenir-lt";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-85Heavy.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-85Heavy.woff") format("woff");
font-display: swap;
}

#content h3 { font-family: avenir-lt, sans-serif; line-height: 1.5em; font-size: 18px; margin-bottom: 8px; }

@font-face {
    font-family:"brandon-grot";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/69b40392-453a-438a-a121-a49e5fbc9213.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9362bca5-b362-4543-a051-2129e2def911.woff") format("woff");
font-display: swap;
}

#content { font-family: brandon-grot, sans-serif; color: rgb(4, 31, 62); font-size: 18px; line-height: 1.5em; }

@font-face {
    font-family: 'dancingscript-regular';
    font-style: normal;
    font-weight: 400;
    src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/dancingscript/v9/DK0eTGXiZjN6yA8zAEyM2RN-0beyHaEC1kqeqPFpWrs.woff2') format('woff2');
    font-display: swap;
}

.cursive, #content h3.cursive { font-family: dancingscript-regular, dancing script, cursive; }
#content h3.cursive { font-size: 45px; }
