@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

:root {
	--themecolor:  #C6C09C;
	--themecolorrgb: 34, 185, 254;
	--header-height: 70px;
	--ym-hf-bgd: #617DA3;
	--site-logo-bgd: #FEB51A;
	--site-h2-bgd: #FEB51A;
}

#copyrights, body {
    background-color: #bee6f9!important;
}

#content section, #content .content {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

#header { padding: 0!important; }
#header .d-flex { gap: 0; }
#header h1 { padding: 0px; height: 80px; background: url(globalconcernsindia-header-logo.png) no-repeat left center; background-size: contain; }



#content h2:not(.amadeus-feature h2) { padding: 8px; border-radius: 0; display: inline-block; font-size: 36px; margin-bottom: 12px; }
#content h2.block { display: block; margin: 15px 0 10px 0; }
#content h2, .site-bgd { background-color: var(--site-h2-bgd, #ccc); }

.node-index .in-page, .node-index #directory-sections,
    .node-programs .in-page,
    .node-community .in-page,
    .node-resources .in-page,
    .node-about-us .in-page {
        display: none!important;
}

#content h3 { line-height: 1.5em; font-size: 18px; margin-bottom: 8px; }

#content { font-family: "Playfair Display", sans-serif; color: #1E3973; font-size: 25px; line-height: 2em; }

.cursive, #content h3.cursive { font-family: "Yuji Mai", serif; }
#content h3.cursive { font-size: 45px; }
